{"swagger":"2.0","info":{"description":"woof活动接口文档","version":"1.0.1.1","title":"woof活动接口文档","license":{"name":"Api 文档地址(点我点我)","url":"/doc.html"}},"host":"api-alpha.heywoof.com","basePath":"/","tags":[{"name":"C端拉新任务接口","description":"Invitation Task Controller"},{"name":"C端解谜参与人接口","description":"Puzzle Participant Controller"},{"name":"任务接口","description":"Task Controller"},{"name":"场景C端接口","description":"Scene Controller"},{"name":"活动接口","description":"Activity Controller"},{"name":"移动端活动接口","description":"Activity Mobile Controller"}],"paths":{"/activity/del":{"post":{"tags":["活动接口"],"summary":"删除活动","operationId":"delUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/detail":{"post":{"tags":["活动接口"],"summary":"活动详情","operationId":"detailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«ActivityDetailResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/list":{"post":{"tags":["活动接口"],"summary":"活动列表","operationId":"listUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«ActivityListReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Page«ActivityListResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/mobile/allProduct":{"post":{"tags":["移动端活动接口"],"summary":"获取所有商品","operationId":"allProductUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"id","description":"id","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«TaskProductListResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/mobile/detail":{"post":{"tags":["移动端活动接口"],"summary":"活动明细","operationId":"detailUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"id","description":"id","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«ActivityDetailMobileResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/mobile/highestPriority":{"post":{"tags":["移动端活动接口"],"summary":"获取当前优先级最高的活动","operationId":"highestPriorityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«PageBase»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«ActivityDetailMobileResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/mobile/page":{"post":{"tags":["移动端活动接口"],"summary":"分页查询","operationId":"pageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"page","description":"page","required":true,"schema":{"$ref":"#/definitions/Request«PageBase»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Page«ActivityMobileListResp»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/offline":{"post":{"tags":["活动接口"],"summary":"活动结束","operationId":"offlineUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/online":{"post":{"tags":["活动接口"],"summary":"活动上线","operationId":"onlineUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«ActivityOperateReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/activity/save":{"post":{"tags":["活动接口"],"summary":"保存活动","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"saveReq","description":"saveReq","required":true,"schema":{"$ref":"#/definitions/Request«ActivitySaveReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/participant/answer":{"post":{"tags":["C端解谜参与人接口"],"summary":"提交答案","operationId":"saveAnswerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«PuzzleParticipantCreateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleParticipantViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/participant/mobile/answer":{"post":{"tags":["C端解谜参与人接口"],"summary":"手机端提交答案","operationId":"mobileSumbitAnswerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«PuzzleParticipantCreateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleParticipantViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/participant/query":{"post":{"tags":["C端解谜参与人接口"],"summary":"查询参与人记录","operationId":"queryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«PuzzleParticipantViewRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleParticipantViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/scene/answer":{"post":{"tags":["场景C端接口"],"summary":"保存答案","description":"保存该场景下所有答案并返回下一个场景详情","operationId":"saveAnswerUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«List«DialogAnswerSaveReq»»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«SceneDetailResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/scene/happened":{"post":{"tags":["场景C端接口"],"summary":"获取已发生场景详情","description":"只需首次加载调用一次即可","operationId":"getHappenedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/Request«SceneHappenedReq»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«SceneDetailResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/batch":{"post":{"tags":["任务接口"],"summary":"批量发放资格","operationId":"batchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«TaskViewRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/buy/qualification":{"post":{"tags":["任务接口"],"summary":"检测购买资格接口","operationId":"checkQualificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"data.activityId","in":"query","required":false,"type":"string"},{"name":"data.taskId","in":"query","required":false,"type":"string"},{"name":"data.taskType","in":"query","required":false,"type":"string","enum":["INVITATION","PUZZLE"]},{"name":"data.userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"header.authToken","in":"query","required":false,"type":"string"},{"name":"header.channel","in":"query","required":false,"type":"string"},{"name":"header.client","in":"query","required":false,"type":"string"},{"name":"header.deviceType","in":"query","required":false,"type":"string"},{"name":"header.transactionId","in":"query","required":false,"type":"string"},{"name":"header.userId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«QueryActivityBuyQualificationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/delete":{"post":{"tags":["任务接口"],"summary":"删除任务","operationId":"deleteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«TaskViewRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/code":{"post":{"tags":["C端拉新任务接口"],"summary":"邀请码接口","operationId":"inviteCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"data.activityId","in":"query","required":false,"type":"string"},{"name":"data.taskCode","in":"query","required":false,"type":"string"},{"name":"header.authToken","in":"query","required":false,"type":"string"},{"name":"header.channel","in":"query","required":false,"type":"string"},{"name":"header.client","in":"query","required":false,"type":"string"},{"name":"header.deviceType","in":"query","required":false,"type":"string"},{"name":"header.transactionId","in":"query","required":false,"type":"string"},{"name":"header.userId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/create":{"post":{"tags":["任务接口"],"summary":"创建拉新任务","operationId":"createInvitationTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«InvitationTaskCreateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«InvitationTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/task":{"post":{"tags":["C端拉新任务接口"],"summary":"获取拉新任务接口","operationId":"getInvitationTasksUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"data.activityId","in":"query","required":false,"type":"string"},{"name":"data.taskId","in":"query","required":false,"type":"string"},{"name":"header.authToken","in":"query","required":false,"type":"string"},{"name":"header.channel","in":"query","required":false,"type":"string"},{"name":"header.client","in":"query","required":false,"type":"string"},{"name":"header.deviceType","in":"query","required":false,"type":"string"},{"name":"header.transactionId","in":"query","required":false,"type":"string"},{"name":"header.userId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«QueryInvitationTaskResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/update":{"post":{"tags":["任务接口"],"summary":"编辑拉新任务","operationId":"updateInvitationTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«InvitationTaskUpdateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«InvitationTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/user":{"post":{"tags":["C端拉新任务接口"],"summary":"邀请用户名单记录接口","operationId":"invitedUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"data.activityCode","in":"query","required":false,"type":"string"},{"name":"data.headImage","in":"query","required":false,"type":"string"},{"name":"data.invitedUserId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"data.nickName","in":"query","required":false,"type":"string"},{"name":"data.taskCode","in":"query","required":false,"type":"string"},{"name":"data.userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"data.userTypeEnum","in":"query","required":false,"type":"string","enum":["NEW","OLD"]},{"name":"header.authToken","in":"query","required":false,"type":"string"},{"name":"header.channel","in":"query","required":false,"type":"string"},{"name":"header.client","in":"query","required":false,"type":"string"},{"name":"header.deviceType","in":"query","required":false,"type":"string"},{"name":"header.transactionId","in":"query","required":false,"type":"string"},{"name":"header.userId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«InvitationUserResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/invitation/view":{"post":{"tags":["任务接口"],"summary":"查看拉新任务","operationId":"viewInvitationTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«TaskViewRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«InvitationTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/list":{"post":{"tags":["任务接口"],"summary":"任务列表","operationId":"listUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«TaskListRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Page«TaskListResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/puzzle/create":{"post":{"tags":["任务接口"],"summary":"创建解谜任务","operationId":"createPuzzleTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«PuzzleTaskCreateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/puzzle/update":{"post":{"tags":["任务接口"],"summary":"编辑解谜任务","operationId":"updatePuzzleTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«PuzzleTaskUpdateRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/puzzle/view":{"post":{"tags":["任务接口"],"summary":"查看解谜任务","operationId":"viewPuzzleTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«TaskViewRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«PuzzleTaskViewResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/task/statistics":{"post":{"tags":["任务接口"],"summary":"任务统计","operationId":"statisticsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Request«ActivityRelevanceTaskRequest»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«ActivityRelevanceTaskResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"ActivityDetailMobileResponse":{"type":"object","properties":{"activityRange":{"type":"string","description":"活动范围 1:小程序 2:app 3:小程序和app","enum":["APPLET","APP","APP_AND_APPLET"]},"entranceCover":{"type":"string","description":"入口封面"},"firstPage":{"description":"第一页数据","$ref":"#/definitions/Page«ActivityMobileListResp»"},"heat":{"type":"integer","format":"int64","description":"热度"},"id":{"type":"string","description":"发售Id"},"mainPicture":{"type":"string","description":"主图"},"rule":{"type":"string","description":"发售规则"},"status":{"type":"string","description":"活动状态","enum":["WAITING_FOR_ONLINE","PREHEATING","PROCESSING","OVER"]},"subTitle":{"type":"string","description":"发售副标题"},"title":{"type":"string","description":"发售标题"}},"title":"ActivityDetailMobileResponse"},"ActivityDetailResponse":{"type":"object","properties":{"activityRange":{"type":"string","description":"活动范围 1:小程序 2:app 3:小程序和app","enum":["APPLET","APP","APP_AND_APPLET"]},"appUrl":{"type":"string","description":"appurl"},"appletUrl":{"type":"string","description":"小程序url"},"end":{"type":"string","format":"date-time","description":"发售结束时间"},"entranceCover":{"type":"string"},"id":{"type":"string","description":"发售Id"},"isOnline":{"type":"boolean","description":"是否上线"},"mainPicture":{"type":"string","description":"主图"},"offlineAt":{"type":"string","format":"date-time","description":"活动下线时间"},"onlineAt":{"type":"string","format":"date-time","description":"活动上线时间"},"rule":{"type":"string","description":"发售规则"},"scene":{"type":"array","description":"对话列表","items":{"$ref":"#/definitions/SceneAdminDetailResponse"}},"start":{"type":"string","format":"date-time","description":"发售开始时间"},"status":{"type":"string","description":"状态","enum":["WAITING_FOR_ONLINE","PREHEATING","PROCESSING","OVER"]},"subTitle":{"type":"string","description":"发售副标题"},"title":{"type":"string","description":"发售标题"}},"title":"ActivityDetailResponse"},"ActivityListReq":{"type":"object","properties":{"current":{"type":"integer","format":"int32","example":1,"description":"当前页"},"keyword":{"type":"string","description":"搜索关键字 发售Id|标题"},"size":{"type":"integer","format":"int32","example":10,"description":"分页条数"},"status":{"type":"string","description":"活动状态"}},"title":"ActivityListReq"},"ActivityListResponse":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time","description":"创建时间"},"end":{"type":"string","format":"date-time","description":"发售结束时间"},"entranceCover":{"type":"string","description":"封面"},"id":{"type":"string","description":"发售Id"},"isOnline":{"type":"boolean","description":"是否上线"},"mainPicture":{"type":"string","description":"主图"},"offlineAt":{"type":"string","format":"date-time","description":"活动下线时间"},"onlineAt":{"type":"string","format":"date-time","description":"活动上线时间"},"start":{"type":"string","format":"date-time","description":"发售开始时间"},"status":{"type":"string","description":"活动状态 ","enum":["WAITING_FOR_ONLINE","PREHEATING","PROCESSING","OVER"]},"subTitle":{"type":"string","description":"副标题"},"title":{"type":"string","description":"发售标题"}},"title":"ActivityListResponse"},"ActivityMobileListResp":{"type":"object","properties":{"end":{"type":"string","format":"date-time","description":"结束时间"},"entranceCover":{"type":"string","description":"封面"},"heat":{"type":"integer","format":"int64","description":"人气"},"id":{"type":"string","description":"id"},"mainPicture":{"type":"string","description":"主图"},"start":{"type":"string","format":"date-time","description":"开始时间"},"status":{"type":"string","description":"活动状态","enum":["WAITING_FOR_ONLINE","PREHEATING","PROCESSING","OVER"]},"subTitle":{"type":"string","description":"副标题"},"title":{"type":"string","description":"标题"}},"title":"ActivityMobileListResp"},"ActivityOperateReq":{"type":"object","properties":{"id":{"type":"string","description":"发售Id"}},"title":"ActivityOperateReq"},"ActivityRelevanceInvitationTaskDTO":{"type":"object","properties":{"endTime":{"type":"string","format":"date-time","description":"任务结束时间"},"increasedNumber":{"type":"integer","format":"int32","description":"新家人数"},"invitaionTaskType":{"type":"string","description":"拉新任务类型"},"inviteesNumber":{"type":"integer","format":"int32","description":"邀请人数"}},"title":"ActivityRelevanceInvitationTaskDTO"},"ActivityRelevancePuzzleTaskDTO":{"type":"object","properties":{"answerRightNumber":{"type":"integer","format":"int32","description":"回答正确数"},"endTime":{"type":"string","format":"date-time","description":"任务结束时间"},"joinNumber":{"type":"integer","format":"int32","description":"参与人数"},"proportion":{"type":"string","description":"发放比列"}},"title":"ActivityRelevancePuzzleTaskDTO"},"ActivityRelevanceTaskDTO":{"type":"object","properties":{"invitationTaskStatistics":{"$ref":"#/definitions/ActivityRelevanceInvitationTaskDTO"},"puzzleTaskStatistics":{"$ref":"#/definitions/ActivityRelevancePuzzleTaskDTO"},"taskCode":{"type":"string"},"taskID":{"type":"string","description":"任务Id"},"taskName":{"type":"string","description":"任务名称"},"taskStatus":{"type":"string","description":"任务状态","enum":["NONE","WAITING","STARTED","ENDED"]},"taskType":{"type":"string","description":"任务类型"}},"title":"ActivityRelevanceTaskDTO"},"ActivityRelevanceTaskRequest":{"type":"object","properties":{"activityId":{"type":"string","description":"活动id"}},"title":"ActivityRelevanceTaskRequest"},"ActivityRelevanceTaskResponse":{"type":"object","properties":{"activityRelevanceTasks":{"type":"array","items":{"$ref":"#/definitions/ActivityRelevanceTaskDTO"}}},"title":"ActivityRelevanceTaskResponse"},"ActivitySaveReq":{"type":"object","required":["activityRange","end","entranceCover","mainPicture","offlineAt","onlineAt","rule","start","subTitle","title"],"properties":{"activityRange":{"type":"string","description":"活动范围","enum":["APPLET","APP","APP_AND_APPLET"]},"end":{"type":"string","format":"date-time","description":"结束时间"},"entranceCover":{"type":"string","description":"入口封面"},"id":{"type":"string","description":"id 更新时必传"},"mainPicture":{"type":"string","description":"主图"},"offlineAt":{"type":"string","format":"date-time","description":"下线时间"},"onlineAt":{"type":"string","format":"date-time","description":"上线时间"},"rule":{"type":"string","description":"发售规则"},"scene":{"type":"array","description":"对话","items":{"$ref":"#/definitions/SceneCreateReq"}},"start":{"type":"string","format":"date-time","description":"开始时间"},"subTitle":{"type":"string","description":"副标题"},"title":{"type":"string","description":"标题"}},"title":"ActivitySaveReq"},"DialogAdminDetailResponse":{"type":"object","properties":{"content":{"type":"string","description":"对话内容"},"contentType":{"type":"string","description":"对话内容类型 (1:纯文本; 2:图片; 3:视频; 4:语音; 5:任务; 6:商品;)","enum":["TEXT","IMAGE","VIDEO","VOICE","TASK","PRODUCT","OPTION_TEXT","OPTION_IMAGE","OPTION_INPUT","OPTION_DEFAULT_TEXT"]},"id":{"type":"string","description":"对话id"},"images":{"type":"array","description":"图片资源地址列表，对话内容类型为 2 时返回","items":{"type":"string"}},"options":{"type":"array","description":"可选选项","items":{"$ref":"#/definitions/DialogAdminOptionDetailResponse"}},"sortNumber":{"type":"integer","format":"int32","description":"在场景中的序号"},"spuList":{"type":"array","description":"商品列表，对话内容类型为 6 时返回","items":{"$ref":"#/definitions/DialogProductResponse"}},"taskList":{"type":"array","description":"任务列表，对话内容类型为 5 时返回","items":{"$ref":"#/definitions/DialogTaskResponse"}},"type":{"type":"string","description":"对话类型 (1:NPC; 2:旁白; 3:画外音;)","enum":["NPC","ASIDE","VOICE_OVER","USER_ANSWER"]},"videoSrc":{"type":"string","description":"视频资源地址，对话内容类型为 3 时返回"},"voiceSrc":{"type":"string","description":"语音资源地址，对话内容类型为 4 时返回"}},"title":"DialogAdminDetailResponse"},"DialogAdminOptionDetailResponse":{"type":"object","properties":{"content":{"type":"string","description":"选项内容"},"contentType":{"type":"string","description":"选项内容类型 (1:纯文本; 2:上传图片; 3:用户输入; 4:默认纯文本;)","enum":["TEXT","IMAGE","INPUT","DEFAULT_TEXT"]},"id":{"type":"string","description":"选项id"},"title":{"type":"string","description":"选项标题"}},"title":"DialogAdminOptionDetailResponse"},"DialogAnswerSaveReq":{"type":"object","required":["activityID","contentType","dialogID","optionID"],"properties":{"activityID":{"type":"string","description":"所属活动id"},"contentType":{"type":"string","description":"选项内容类型 (1:纯文本; 2:上传图片; 3:用户输入; 4:默认纯文本;)","enum":["TEXT","IMAGE","INPUT","DEFAULT_TEXT"]},"dialogID":{"type":"string","description":"所属对话id"},"inputText":{"type":"string","description":"用户输入文本，选项内容类型为 3 时必传"},"optionID":{"type":"string","description":"所选选项id"},"uploadImages":{"type":"array","description":"用户上传图片资源地址列表，选项内容类型为 2 时必传","items":{"type":"string"}}},"title":"DialogAnswerSaveReq"},"DialogCreateReq":{"type":"object","required":["content","contentType","sortNumber","type"],"properties":{"content":{"type":"string","description":"对话内容"},"contentType":{"type":"string","description":"对话内容类型 (1:纯文本; 2:图片; 3:视频; 4:语音; 5:任务; 6:商品;)","enum":["TEXT","IMAGE","VIDEO","VOICE","TASK","PRODUCT","OPTION_TEXT","OPTION_IMAGE","OPTION_INPUT","OPTION_DEFAULT_TEXT"]},"images":{"type":"array","description":"图片资源地址列表，对话内容类型为 2 时必传","items":{"type":"string"}},"options":{"type":"array","description":"回复选项，不填则为用户不出现回复","items":{"$ref":"#/definitions/DialogOptionCreateReq"}},"sortNumber":{"type":"integer","format":"int32","description":"在场景中的序号"},"spuList":{"type":"array","description":"商品列表，对话内容类型为 6 时必传","items":{"$ref":"#/definitions/DialogProductReq"}},"taskList":{"type":"array","description":"任务列表，对话内容类型为 5 时必传","items":{"$ref":"#/definitions/DialogTaskReq"}},"type":{"type":"string","description":"对话类型 (1:NPC; 2:旁白; 3:画外音;)","enum":["NPC","ASIDE","VOICE_OVER","USER_ANSWER"]},"videoSrc":{"type":"string","description":"视频资源地址，对话内容类型为 3 时必传"},"voiceSrc":{"type":"string","description":"语音资源地址，对话内容类型为 4 时必传"}},"title":"DialogCreateReq"},"DialogDetailResponse":{"type":"object","properties":{"content":{"type":"string","description":"对话/用户选项内容"},"contentType":{"type":"string","description":"对话内容类型 (1:纯文本; 2:图片; 3:视频; 4:语音; 5:任务; 6:商品; 11:选项纯文本; 12:选项上传图片; 13:选项输入文字; 14:选项默认纯文本;)","enum":["TEXT","IMAGE","VIDEO","VOICE","TASK","PRODUCT","OPTION_TEXT","OPTION_IMAGE","OPTION_INPUT","OPTION_DEFAULT_TEXT"]},"id":{"type":"string","description":"对话id"},"images":{"type":"array","description":"图片资源地址列表，对话内容类型为 2 时返回","items":{"type":"string"}},"optionId":{"type":"string","description":"用户选项id，对话类型为用户时返回"},"optionTitle":{"type":"string","description":"用户选项标题，对话类型为用户时返回"},"options":{"type":"array","description":"可选选项，当该对话用户未回答时，返回","items":{"$ref":"#/definitions/DialogOptionDetailResponse"}},"spuList":{"type":"array","description":"商品列表，对话内容类型为 6 时返回","items":{"$ref":"#/definitions/DialogProductResponse"}},"taskList":{"type":"array","description":"任务列表，对话内容类型为 5 时返回","items":{"$ref":"#/definitions/DialogTaskResponse"}},"type":{"type":"string","description":"对话系统类型 (1:NPC对话; 2:旁白; 3:画外音; 4:用户回复)","enum":["NPC","ASIDE","VOICE_OVER","USER_ANSWER"]},"user":{"description":"用户","$ref":"#/definitions/DialogUserDetailResponse"},"videoSrc":{"type":"string","description":"视频资源地址，对话内容类型为 3 时返回"},"voiceSrc":{"type":"string","description":"语音资源地址，对话内容类型为 4 时返回"}},"title":"DialogDetailResponse"},"DialogOptionCreateReq":{"type":"object","properties":{"content":{"type":"string","description":"选项内容"},"contentType":{"type":"string","description":"选项内容类型 (1:纯文本; 2:上传图片; 3:用户输入; 4:默认纯文本;)","enum":["TEXT","IMAGE","INPUT","DEFAULT_TEXT"]},"skipSceneID":{"type":"string","description":"跳转的场景id，单场景不传"},"title":{"type":"string","description":"选项标题"}},"title":"DialogOptionCreateReq"},"DialogOptionDetailResponse":{"type":"object","properties":{"content":{"type":"string","description":"选项内容"},"contentType":{"type":"string","description":"选项内容类型 (1:纯文本; 2:上传图片; 3:用户输入; 4:默认纯文本;)","enum":["TEXT","IMAGE","INPUT","DEFAULT_TEXT"]},"id":{"type":"string","description":"选项id"},"title":{"type":"string","description":"选项标题"}},"title":"DialogOptionDetailResponse"},"DialogProductReq":{"type":"object","properties":{"spuId":{"type":"integer","format":"int64","description":"商品id，对话内容类型为 6 时必传"}},"title":"DialogProductReq"},"DialogProductResponse":{"type":"object","properties":{"blackUrl":{"type":"string","description":"商品封面图，对话内容类型为 6 时返回"},"englishName":{"type":"string","description":"商品名称，对话内容类型为 6 时返回"},"spuId":{"type":"integer","format":"int64","description":"商品id，对话内容类型为 6 时返回"}},"title":"DialogProductResponse"},"DialogTaskReq":{"type":"object","properties":{"taskId":{"type":"string","description":"任务ID，对话内容类型为 5 时必传"},"type":{"type":"string","description":"任务类型，对话内容类型为 5 时必传","enum":["INVITATION","PUZZLE"]}},"title":"DialogTaskReq"},"DialogTaskResponse":{"type":"object","properties":{"name":{"type":"string","description":"任务名称，对话内容类型为 5 时返回"},"taskId":{"type":"string","description":"任务ID，对话内容类型为 5 时返回"},"type":{"type":"string","description":"任务类型，对话内容类型为 5 时返回","enum":["INVITATION","PUZZLE"]}},"title":"DialogTaskResponse"},"DialogUserDetailResponse":{"type":"object","properties":{"avatar":{"type":"string","description":"用户头像url"},"id":{"type":"string","description":"用户id"},"nickName":{"type":"string","description":"用户别名"},"realName":{"type":"string","description":"用户真实姓名"}},"title":"DialogUserDetailResponse"},"InvitationParticipantDTO":{"type":"object","properties":{"id":{"type":"string"},"invitationUsers":{"type":"array","description":"用户列表","items":{"$ref":"#/definitions/InvitationUserDTO"}},"inviteesNumber":{"type":"integer","format":"int32","description":"任务规定的邀请数"},"onlineInvitationsCount":{"type":"integer","format":"int32","description":"用户线上被邀请者数"},"taskCode":{"type":"string","description":"任务code"},"ticketStatus":{"type":"string","description":"购买资格状态 [1、无资格 2、有资格 3、已使用]","enum":["UN_QUALIFICATION","QUALIFICATION","USED"]},"userId":{"type":"integer","format":"int64","description":"用户id"}},"title":"InvitationParticipantDTO"},"InvitationTaskCreateRequest":{"type":"object","properties":{"endTime":{"type":"string","format":"date-time","example":"2019-06-18 23:59:59","description":"结束时间"},"invitationType":{"type":"string","description":"邀请类型","enum":["NEWUSER","NEWUSERANDOLDUSER"]},"inviteesNumber":{"type":"integer","format":"int32","description":"邀请人数"},"name":{"type":"string","description":"任务名称"},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsRequest"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","example":"2019-06-18 00:00:00","description":"开始时间"},"syncActivityTime":{"type":"boolean","description":"任务时间设置"}},"title":"InvitationTaskCreateRequest"},"InvitationTaskDTO":{"type":"object","properties":{"endTime":{"type":"string","format":"date-time","description":"拉新结束时间"},"invitationParticipant":{"description":"当前用户邀请名单信息","$ref":"#/definitions/InvitationParticipantDTO"},"invitationType":{"type":"string","description":"邀请类型 【1、新用户 2、新老用户】","enum":["NEWUSER","NEWUSERANDOLDUSER"]},"inviteesNumber":{"type":"integer","format":"int32","description":"邀请人数"},"name":{"type":"string","description":"拉新任务名称"},"relevanceSpus":{"type":"array","description":"关联商品信息","items":{"$ref":"#/definitions/RelevanceSpuDTO"}},"rule":{"type":"string","description":"拉新任务规则"},"startTime":{"type":"string","format":"date-time","description":"拉新开始时间"},"status":{"type":"string","description":"任务状态 【 NONE(0, \"\"),\n    WAITING(1, \"待开始\"),\n    STARTED(2, \"已开始\"),\n    ENDED(3, \"已结束\");】","enum":["NONE","WAITING","STARTED","ENDED"]}},"title":"InvitationTaskDTO"},"InvitationTaskUpdateRequest":{"type":"object","properties":{"delSpuIds":{"type":"array","description":"删除的SPU Ids","items":{"type":"integer","format":"int64"}},"endTime":{"type":"string","format":"date-time","example":"2019-06-18 23:59:59","description":"结束时间"},"id":{"type":"string","description":"任务Id"},"invitationType":{"type":"string","description":"邀请类型","enum":["NEWUSER","NEWUSERANDOLDUSER"]},"inviteesNumber":{"type":"integer","format":"int32","description":"邀请人数"},"name":{"type":"string","description":"任务名称"},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsRequest"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","example":"2019-06-18 00:00:00","description":"开始时间"},"syncActivityTime":{"type":"boolean","description":"任务时间设置"}},"title":"InvitationTaskUpdateRequest"},"InvitationTaskViewResponse":{"type":"object","properties":{"activity":{"type":"string","description":"关联活动名称"},"endTime":{"type":"string","format":"date-time","description":"结束时间"},"id":{"type":"string","description":"任务Id"},"invitationType":{"type":"string","description":"邀请类型","enum":["NEWUSER","NEWUSERANDOLDUSER"]},"inviteesNumber":{"type":"integer","format":"int32","description":"邀请人数"},"name":{"type":"string","description":"任务名称"},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsResponse"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","description":"开始时间"},"status":{"type":"string","description":"任务状态","enum":["NONE","WAITING","STARTED","ENDED"]},"syncActivityTime":{"type":"boolean","description":"任务时间设置"},"type":{"type":"string","description":"任务类型","enum":["INVITATION","PUZZLE"]}},"title":"InvitationTaskViewResponse"},"InvitationUserDTO":{"type":"object","properties":{"headImage":{"type":"string","description":"被邀请头像"},"invitedAt":{"type":"string","format":"date-time","description":"被邀请时间"},"invitedUserId":{"type":"integer","format":"int64","description":"被邀请id"},"nickName":{"type":"string","description":"被邀请名称"},"taskCode":{"type":"string","description":"任务id"},"userId":{"type":"integer","format":"int64","description":"用户id"},"userTypeEnum":{"type":"string","description":"用户类型 【1、新用户 2、老用户】","enum":["NEW","OLD"]}},"title":"InvitationUserDTO"},"InvitationUserResponse":{"type":"object","properties":{"id":{"type":"string"}},"title":"InvitationUserResponse"},"PageBase":{"type":"object","properties":{"current":{"type":"integer","format":"int32","example":1,"description":"当前页"},"size":{"type":"integer","format":"int32","example":10,"description":"分页条数"}},"title":"PageBase"},"Page«ActivityListResponse»":{"type":"object","properties":{"current":{"type":"integer","format":"int64","description":"当前页"},"pages":{"type":"integer","format":"int64"},"records":{"type":"array","description":"数据","items":{"$ref":"#/definitions/ActivityListResponse"}},"size":{"type":"integer","format":"int64","description":"分页大小"},"total":{"type":"integer","format":"int64","description":"总条数"}},"title":"Page«ActivityListResponse»"},"Page«ActivityMobileListResp»":{"type":"object","properties":{"current":{"type":"integer","format":"int64","description":"当前页"},"pages":{"type":"integer","format":"int64"},"records":{"type":"array","description":"数据","items":{"$ref":"#/definitions/ActivityMobileListResp"}},"size":{"type":"integer","format":"int64","description":"分页大小"},"total":{"type":"integer","format":"int64","description":"总条数"}},"title":"Page«ActivityMobileListResp»"},"Page«TaskListResponse»":{"type":"object","properties":{"current":{"type":"integer","format":"int64","description":"当前页"},"pages":{"type":"integer","format":"int64"},"records":{"type":"array","description":"数据","items":{"$ref":"#/definitions/TaskListResponse"}},"size":{"type":"integer","format":"int64","description":"分页大小"},"total":{"type":"integer","format":"int64","description":"总条数"}},"title":"Page«TaskListResponse»"},"PuzzleParticipantCreateRequest":{"type":"object","required":["activityId","answer","taskId","userId"],"properties":{"activityId":{"type":"string","description":"活动Id"},"answer":{"type":"string","description":"答案"},"taskId":{"type":"string","description":"任务Id"},"userId":{"type":"string","description":"用户Id"}},"title":"PuzzleParticipantCreateRequest"},"PuzzleParticipantViewRequest":{"type":"object","properties":{"taskId":{"type":"string","description":"任务Id"},"userId":{"type":"string","description":"用户Id"}},"title":"PuzzleParticipantViewRequest"},"PuzzleParticipantViewResponse":{"type":"object","properties":{"activityId":{"type":"string","description":"活动Id"},"answer":{"type":"string","description":"答案"},"createBy":{"type":"string","description":"创建人"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"matched":{"type":"integer","format":"int32","description":"是否与答案匹配成功"},"matchedFailNumber":{"type":"integer","format":"int64","description":"匹配失败数"},"matchedNumber":{"type":"integer","format":"int64","description":"匹配数量"},"numberOfTimes":{"type":"integer","format":"int32","description":"答案提交次数"},"proportion":{"type":"integer","format":"int32","description":"问题匹配占比"},"rankingNumber":{"type":"integer","format":"int64","description":"排名名次"},"relevanceSpus":{"type":"array","description":"商品列表","items":{"$ref":"#/definitions/RelevanceSpuDTO"}},"taskId":{"type":"string","description":"任务Id"},"ticketStatus":{"type":"integer","format":"int32","description":"购买资格状态"},"updateBy":{"type":"string","description":"更新人"},"updateTime":{"type":"string","format":"date-time","description":"更新时间"},"userId":{"type":"string","description":"用户Id"}},"title":"PuzzleParticipantViewResponse"},"PuzzleTaskCreateRequest":{"type":"object","properties":{"endTime":{"type":"string","format":"date-time","example":"2019-06-18 23:59:59","description":"结束时间"},"name":{"type":"string","description":"任务名称"},"puzzleAnswer":{"type":"string","description":"正确答案"},"puzzleIssuanceMethod":{"type":"string","description":"解谜发放方式","enum":["TIMED","MANUAL"]},"puzzleIssuanceNumber":{"type":"integer","format":"int32","description":"解谜发放人数"},"puzzleIssuanceTime":{"type":"string","format":"date-time","example":"2019-06-20 12:00:00","description":"解谜发放时间"},"puzzleQuestion":{"type":"string","description":"解谜文案"},"puzzleTips":{"type":"array","description":"解谜提示","items":{"type":"string"}},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsRequest"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","example":"2019-06-18 00:00:00","description":"开始时间"},"syncActivityTime":{"type":"boolean","description":"任务时间设置"}},"title":"PuzzleTaskCreateRequest"},"PuzzleTaskUpdateRequest":{"type":"object","properties":{"delSpuIds":{"type":"array","description":"删除的SPU Ids","items":{"type":"integer","format":"int64"}},"endTime":{"type":"string","format":"date-time","example":"2019-06-18 23:59:59","description":"结束时间"},"id":{"type":"string","description":"任务Id"},"name":{"type":"string","description":"任务名称"},"puzzleAnswer":{"type":"string","description":"正确答案"},"puzzleIssuanceMethod":{"type":"string","description":"解谜发放方式","enum":["TIMED","MANUAL"]},"puzzleIssuanceNumber":{"type":"integer","format":"int32","description":"解谜发放人数"},"puzzleIssuanceTime":{"type":"string","format":"date-time","example":"2019-06-20 12:00:00","description":"解谜发放时间"},"puzzleQuestion":{"type":"string","description":"解谜文案"},"puzzleTips":{"type":"array","description":"解谜提示","items":{"type":"string"}},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsRequest"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","example":"2019-06-18 00:00:00","description":"开始时间"},"syncActivityTime":{"type":"boolean","description":"任务时间设置"}},"title":"PuzzleTaskUpdateRequest"},"PuzzleTaskViewResponse":{"type":"object","properties":{"activity":{"type":"string","description":"关联活动名称"},"endTime":{"type":"string","format":"date-time","description":"结束时间"},"id":{"type":"string","description":"任务Id"},"name":{"type":"string","description":"任务名称"},"puzzleAnswer":{"type":"string","description":"正确答案"},"puzzleIssuanceMethod":{"type":"string","description":"解谜发放方式","enum":["TIMED","MANUAL"]},"puzzleIssuanceNumber":{"type":"integer","format":"int32","description":"解谜发放人数"},"puzzleIssuanceTime":{"type":"string","format":"date-time","description":"解谜发放时间"},"puzzleQuestion":{"type":"string","description":"解谜文案"},"puzzleTips":{"type":"array","description":"解谜提示","items":{"type":"string"}},"relatedProducts":{"type":"array","description":"购买资格商品","items":{"$ref":"#/definitions/RelatedProductsResponse"}},"rule":{"type":"string","description":"任务规则"},"startTime":{"type":"string","format":"date-time","description":"开始时间"},"status":{"type":"string","description":"任务状态","enum":["NONE","WAITING","STARTED","ENDED"]},"syncActivityTime":{"type":"boolean","description":"任务时间设置"},"type":{"type":"string","description":"任务类型","enum":["INVITATION","PUZZLE"]}},"title":"PuzzleTaskViewResponse"},"QueryActivityBuyQualificationResponse":{"type":"object","properties":{"canBuy":{"type":"boolean"}},"title":"QueryActivityBuyQualificationResponse"},"QueryInvitationTaskResponse":{"type":"object","properties":{"invitationTask":{"description":"拉新任务对象","$ref":"#/definitions/InvitationTaskDTO"}},"title":"QueryInvitationTaskResponse"},"RelatedProductSkuRequest":{"type":"object","required":["id","spuId","stock"],"properties":{"id":{"type":"integer","format":"int32","description":"SKU Id"},"spuId":{"type":"integer","format":"int32","description":"SPU Id"},"stock":{"type":"integer","format":"int32","description":"任务商品数量"}},"title":"RelatedProductSkuRequest"},"RelatedProductsRequest":{"type":"object","required":["skuRespList","spuId","visibility"],"properties":{"skuRespList":{"type":"array","description":"SKU 列表","items":{"$ref":"#/definitions/RelatedProductSkuRequest"}},"spuId":{"type":"integer","format":"int32","description":"SPU Id"},"visibility":{"type":"boolean","description":"是否可见"}},"title":"RelatedProductsRequest"},"RelatedProductsResponse":{"type":"object","properties":{"brandName":{"type":"string","description":"品牌名"},"maxPrice":{"type":"number","description":"最大售卖价格"},"minPrice":{"type":"number","description":"最小售卖价格"},"seriesName":{"type":"string","description":"系列名"},"skuImg":{"type":"string","description":"SKU白底图"},"skuNum":{"type":"integer","format":"int32","description":"已关联的SKU数"},"skuRespList":{"type":"array","description":"关联的活动SKU信息","items":{"type":"object"}},"spuId":{"type":"integer","format":"int64","description":"spuId"},"spuName":{"type":"string","description":"商品名称"},"visibility":{"type":"boolean","description":"是否可见"}},"title":"RelatedProductsResponse"},"RelevanceSpuDTO":{"type":"object","properties":{"brandName":{"type":"string","description":"名牌名称"},"canDisplay":{"type":"boolean","description":"可显示"},"locked":{"type":"boolean","description":"是否锁定"},"maxPrice":{"type":"number","description":"最大价"},"minPrice":{"type":"number","description":"最小价"},"seriesName":{"type":"string","description":"系列名称"},"skuImg":{"type":"string","description":"封面图"},"skuNum":{"type":"integer","format":"int32","description":"sku数量"},"spuId":{"type":"integer","format":"int64","description":"商品id"},"spuName":{"type":"string","description":"产品名称"}},"title":"RelevanceSpuDTO"},"RequestHeader":{"type":"object","properties":{"authToken":{"type":"string"},"channel":{"type":"string"},"client":{"type":"string"},"deviceType":{"type":"string"},"transactionId":{"type":"string"}},"title":"RequestHeader"},"Request«ActivityListReq»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityListReq"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«ActivityListReq»"},"Request«ActivityOperateReq»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityOperateReq"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«ActivityOperateReq»"},"Request«ActivityRelevanceTaskRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityRelevanceTaskRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«ActivityRelevanceTaskRequest»"},"Request«ActivitySaveReq»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivitySaveReq"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«ActivitySaveReq»"},"Request«InvitationTaskCreateRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/InvitationTaskCreateRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«InvitationTaskCreateRequest»"},"Request«InvitationTaskUpdateRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/InvitationTaskUpdateRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«InvitationTaskUpdateRequest»"},"Request«List«DialogAnswerSaveReq»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/DialogAnswerSaveReq"}},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«List«DialogAnswerSaveReq»»"},"Request«PageBase»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PageBase"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«PageBase»"},"Request«PuzzleParticipantCreateRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleParticipantCreateRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«PuzzleParticipantCreateRequest»"},"Request«PuzzleParticipantViewRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleParticipantViewRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«PuzzleParticipantViewRequest»"},"Request«PuzzleTaskCreateRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleTaskCreateRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«PuzzleTaskCreateRequest»"},"Request«PuzzleTaskUpdateRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleTaskUpdateRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«PuzzleTaskUpdateRequest»"},"Request«SceneHappenedReq»":{"type":"object","properties":{"data":{"$ref":"#/definitions/SceneHappenedReq"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«SceneHappenedReq»"},"Request«TaskListRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/TaskListRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«TaskListRequest»"},"Request«TaskViewRequest»":{"type":"object","properties":{"data":{"$ref":"#/definitions/TaskViewRequest"},"header":{"$ref":"#/definitions/RequestHeader"}},"title":"Request«TaskViewRequest»"},"ResponseHeader":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"transactionId":{"type":"string"}},"title":"ResponseHeader"},"Response«ActivityDetailMobileResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityDetailMobileResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«ActivityDetailMobileResponse»"},"Response«ActivityDetailResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityDetailResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«ActivityDetailResponse»"},"Response«ActivityRelevanceTaskResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/ActivityRelevanceTaskResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«ActivityRelevanceTaskResponse»"},"Response«InvitationTaskViewResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/InvitationTaskViewResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«InvitationTaskViewResponse»"},"Response«InvitationUserResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/InvitationUserResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«InvitationUserResponse»"},"Response«List«TaskProductListResponse»»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/TaskProductListResponse"}},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«List«TaskProductListResponse»»"},"Response«Page«ActivityListResponse»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Page«ActivityListResponse»"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«Page«ActivityListResponse»»"},"Response«Page«ActivityMobileListResp»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Page«ActivityMobileListResp»"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«Page«ActivityMobileListResp»»"},"Response«Page«TaskListResponse»»":{"type":"object","properties":{"data":{"$ref":"#/definitions/Page«TaskListResponse»"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«Page«TaskListResponse»»"},"Response«PuzzleParticipantViewResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleParticipantViewResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«PuzzleParticipantViewResponse»"},"Response«PuzzleTaskViewResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/PuzzleTaskViewResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«PuzzleTaskViewResponse»"},"Response«QueryActivityBuyQualificationResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/QueryActivityBuyQualificationResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«QueryActivityBuyQualificationResponse»"},"Response«QueryInvitationTaskResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/QueryInvitationTaskResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«QueryInvitationTaskResponse»"},"Response«SceneDetailResponse»":{"type":"object","properties":{"data":{"$ref":"#/definitions/SceneDetailResponse"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«SceneDetailResponse»"},"Response«boolean»":{"type":"object","properties":{"data":{"type":"boolean"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«boolean»"},"Response«string»":{"type":"object","properties":{"data":{"type":"string"},"header":{"$ref":"#/definitions/ResponseHeader"}},"title":"Response«string»"},"SceneAdminDetailResponse":{"type":"object","properties":{"dialogs":{"type":"array","description":"对话列表","items":{"$ref":"#/definitions/DialogAdminDetailResponse"}},"id":{"type":"string","description":"场景id"}},"title":"SceneAdminDetailResponse"},"SceneCreateReq":{"type":"object","required":["dialogs"],"properties":{"dialogs":{"type":"array","description":"对话列表","items":{"$ref":"#/definitions/DialogCreateReq"}}},"title":"SceneCreateReq"},"SceneDetailResponse":{"type":"object","properties":{"activityID":{"type":"string","description":"当前活动id"},"dialogs":{"type":"array","description":"对话内容","items":{"$ref":"#/definitions/DialogDetailResponse"}},"hasUnlockTask":{"type":"boolean","description":"是否解锁任务"}},"title":"SceneDetailResponse"},"SceneHappenedReq":{"type":"object","required":["activityID"],"properties":{"activityID":{"type":"string","description":"活动id"}},"title":"SceneHappenedReq"},"TaskListRequest":{"type":"object","properties":{"current":{"type":"integer","format":"int32","example":1,"description":"当前页"},"name":{"type":"string","description":"任务名称"},"size":{"type":"integer","format":"int32","example":10,"description":"分页条数"},"status":{"type":"string","description":"任务状态","enum":["NONE","WAITING","STARTED","ENDED"]},"type":{"type":"string","description":"任务类型","enum":["INVITATION","PUZZLE"]}},"title":"TaskListRequest"},"TaskListResponse":{"type":"object","properties":{"activity":{"type":"string","description":"关联活动名称"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"endTime":{"type":"string","format":"date-time","description":"结束时间"},"id":{"type":"string","description":"任务Id"},"name":{"type":"string","description":"任务名称"},"startTime":{"type":"string","format":"date-time","description":"开始时间"},"status":{"type":"string","description":"状态","enum":["NONE","WAITING","STARTED","ENDED"]},"type":{"type":"string","description":"任务类型","enum":["INVITATION","PUZZLE"]}},"title":"TaskListResponse"},"TaskProductListResponse":{"type":"object","properties":{"relevanceSpus":{"type":"array","description":"商品列表","items":{"$ref":"#/definitions/RelevanceSpuDTO"}}},"title":"TaskProductListResponse"},"TaskViewRequest":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"任务Id"},"type":{"type":"string","description":"任务类型","enum":["INVITATION","PUZZLE"]}},"title":"TaskViewRequest"}}}